@import '../../scss/mixins';
@import '../../scss/variables';

.list-profit {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  width: 100%;

  transition: 0.3s;

  @media (min-width: $sm) {
    padding-bottom: 44px;
    margin-bottom: 34px;
  }

  &__item {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    transition: 0.3s;
    padding: 15px;
    border: 1px solid #6ddcff;
    border-radius: 10px;
  }

  &__inner {
    padding-left: 20px;
    width: calc(100% - 50px - 20px);
  }

  &__title {
    margin-bottom: 8px;
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    text-transform: uppercase;
    color: $primary-color;

    @media (min-width: $xs) {
      font-size: 18px;
    }
    @media (min-width: $sm) {
      font-size: 20px;
    }
    @media (min-width: $md) {
      font-size: 16px;
    }
    @media (min-width: $xl) {
      font-size: 20px;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 16px;
    color: $white-color;

    @media (min-width: $xs) {
      font-size: 16px;
    }
    @media (min-width: $sm) {
      font-size: 20px;
    }
    @media (min-width: $md) {
      font-size: 16px;
    }
    @media (min-width: $xl) {
      font-size: 20px;
    }
  }

  & svg {
    width: 50px;
    height: 50px;
  }
}
