@font-face {
  font-family: 'Gotham Pro';
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: local('Gotham Pro'),
    url('../fonts/GothaProReg.woff2') format('woff2'),
    url('../fonts/GothaProReg.woff') format('woff');
}

@font-face {
  font-family: 'Gotham Pro';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: local('Gotham Pro'),
    url('../fonts/GothaProReg_1.woff2') format('woff2'),
    url('../fonts/GothaProReg_1.woff') format('woff');
}

@font-face {
  font-family: 'Gotham Pro';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: local('Gotham Pro'),
    url('../fonts/GothaProBol.woff2') format('woff2'),
    url('../fonts/GothaProBol.woff') format('woff');
}
